In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_json('G:\phonepe\data-20220828T073602Z-001\data\\aggregated\\transaction\country\india\\2018\\1.json')

In [4]:
df

,success,code,data,responseTimestamp
from,True,SUCCESS,1514745000000,1630346628866
to,True,SUCCESS,1522175400000,1630346628866
transactionData,True,SUCCESS,"[{'name': 'Recharge & bill payments', 'payment...",1630346628866

In [5]:
df2 = pd.read_json('G:\phonepe\data-20220828T073602Z-001\data\\aggregated\\transaction\country\india\\2018\\2.json')

In [6]:
df2

,success,code,data,responseTimestamp
from,True,SUCCESS,1522521000000,1630501481910
to,True,SUCCESS,1530124200000,1630501481910
transactionData,True,SUCCESS,"[{'name': 'Recharge & bill payments', 'payment...",1630501481910

In [10]:
# df1=pd.read_json("C:/Users/basha/OneDrive/Desktop/transaction/hover/country/india/state/andaman-_-nicobar-islands/2018/1.json")
df1 = pd.read_json('G:\phonepe\data-20220828T073602Z-001\data\map\\transaction\hover\country\india\state\\andaman-_-nicobar-islands\\2018\\1.json')
data1 = df1.iloc[0].to_json()
data1 = pd.read_json(data1)
data1['year']=2018
data1["state"]="Andaman-_-nicobar-islands"
data1["quarter"]="q1"
data1 = data1[['data','year','state','quarter']]
df = data1
df['name'] = df['data'].apply(lambda x:x['name'])
df['type'] = df['data'].apply(lambda x:x['metric'][0]['type'])
df['count'] = df['data'].apply(lambda x:x['metric'][0]['count'])
df['amount'] = df['data'].apply(lambda x:round(x['metric'][0]['amount']))
ani1 = df.iloc[:,1:]

In [12]:
for i in range(4):
    df1 = pd.read_json('G:\phonepe\data-20220828T073602Z-001\data\map\\transaction\hover\country\india\state\\andaman-_-nicobar-islands\\2018\\1.json')
    data1 = df1.iloc[0].to_json()
    data1 = pd.read_json(data1)
    data1['year']=2018
    data1["state"]="Andaman-_-nicobar-islands"
    data1["quarter"]="q1"
    data1 = data1[['data','year','state','quarter']]
    df = data1
    df['name'] = df['data'].apply(lambda x:x['name'])
    df['type'] = df['data'].apply(lambda x:x['metric'][0]['type'])
    df['count'] = df['data'].apply(lambda x:x['metric'][0]['count'])
    df['amount'] = df['data'].apply(lambda x:round(x['metric'][0]['amount']))
    ani1 = df.iloc[:,1:]

,year,state,quarter,name,type,count,amount
0,2018,Andaman-_-nicobar-islands,q1,north and middle andaman district,TOTAL,442,931663
1,2018,Andaman-_-nicobar-islands,q1,south andaman district,TOTAL,5688,12560249
2,2018,Andaman-_-nicobar-islands,q1,nicobars district,TOTAL,528,1139849